--find-links https://download.pytorch.org/whl/torch_stable.html
accelerate
async-lru
aiohttp
bitsandbytes
datasets
fastapi
fastapi-cli
fire
flash_attn
gradio
gradio_client
huggingface-hub
langchain
langchain-community
langchain-core
openai
optimum
packaging
pydantic
pydantic_core
torch==2.3.0+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
transformers
uvicorn
vllm
vllm-flash-attn